<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jqgrid/4.6.0/css/ui.jqgrid.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jqgrid/4.6.0/plugins/searchFilter.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jqgrid/4.6.0/plugins/ui.multiselect.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/zTree.v3/3.5.29/css/metroStyle/metroStyle.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.structure.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.theme.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jquery/1.10.1/themes/base/jquery.ui.datepicker.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">-->
<!--<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">-->
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/family.css">

<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/core.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/npm.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.2.0/js/modal.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.5.8/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/js/i18n/grid.locale-cn.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/js/jquery.jqGrid.min.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/js/jquery.jqGrid.src.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/plugins/jquery.contextmenu.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/plugins/grid.setcolumns.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/plugins/jquery.searchFilter.js"></script>
<script src="https://cdn.bootcss.com/jqgrid/4.6.0/plugins/jquery.tablednd.js"></script>
<!--<script src="https://cdn.bootcss.com/jqgrid/4.6.0/plugins/ui.multiselect.js"></script>-->
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdn.bootcss.com/zTree.v3/3.5.29/js/jquery.ztree.all.min.js"></script>

<!--<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>-->
<!--<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/libs/vue.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>-->

<script src="${request.contextPath}/statics/js/common.js"></script>
<script src="${request.contextPath}/statics/libs/family.js"></script>